body {
    background-image: linear-gradient(90deg, rgb(26, 211, 19), rgb(202, 223, 14));
    text-align: center;
    font-family: sans-serif;
}

#result1 {
    color: green;
}

#result2 {
    color: red;
}